<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- 	<bean id="studentbean" class="com.sailendra.beanClasses.Student"> -->
<!-- 		<property name="name" value="Sailendra Narayan Jena"></property>		 -->
<!-- 	</bean> -->

<!-- 	<bean id="emp" class="com.sailendra.beanClasses.Employee"> -->
<!-- 		<constructor-arg value="Sailendra Narayan Jena" type="java.lang.String"/> -->
<!-- 		<constructor-arg value="32" type="int"/> -->
<!-- 		<constructor-arg value="sailendra.n.jena@gmail.com" type="java.lang.String"/> -->
<!-- 	</bean> -->
	<bean id="add" class="com.sailendra.beanClasses.Address">
		<constructor-arg value="80" type="int"/>
		<constructor-arg value="Co-Operative Colony, Kalinga Vihar, Chhend Colony" type="java.lang.String"/>
		<constructor-arg value="Rourkela" type="java.lang.String"/>
		<constructor-arg value="Sundargarh" type="java.lang.String"/>
		<constructor-arg value="Odisha" type="java.lang.String"/>
		<constructor-arg value="India" type="java.lang.String"/>
		<constructor-arg value="769015" type="long"/>
	</bean>
	<bean id="empAdd" class="com.sailendra.beanClasses.EmployeeAddress">
		<constructor-arg value="Sailendra Narayan Jena" type="java.lang.String"/>
		<constructor-arg value="32" type="java.lang.String"/>
		<constructor-arg value="sailendra.n.jena@gmail.com" type="java.lang.String"/>
		<constructor-arg>
			<ref bean="add"/>
		</constructor-arg>		
	</bean>
	
	<bean id="perAdd" class="com.sailendra.beanClasses.PermanentAddress">
		<constructor-arg value="80" type="int"/>
		<constructor-arg value="Co-Operative Colony, Kalinga Vihar, Chhend Colony, " type="java.lang.String"/>
		<constructor-arg value="Rourkela" type="java.lang.String"/>
		<constructor-arg value="Sundargarh" type="java.lang.String"/>
		<constructor-arg value="Odisha" type="java.lang.String"/>
		<constructor-arg value="India" type="java.lang.String"/>
		<constructor-arg value="769015" type="long"/>
	</bean>
	<bean id="preAdd" class="com.sailendra.beanClasses.PresentAddress">
		<constructor-arg value="57" type="int"/>
		<constructor-arg value="Street No-4, near Mangal Bazaar, Maharaja Banquet" type="java.lang.String"/>
		<constructor-arg value="Laxmi Nagar" type="java.lang.String"/>
		<constructor-arg value="Laxmi Nagar" type="java.lang.String"/>
		<constructor-arg value="New Delhi" type="java.lang.String"/>
		<constructor-arg value="India" type="java.lang.String"/>
		<constructor-arg value="110092" type="long"/>
	</bean>
	<bean id="personAdd" class="com.sailendra.beanClasses.PersonAddress">
		<constructor-arg>
			<ref bean="perAdd"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="preAdd"/>
		</constructor-arg>
	</bean>
	<bean id="person" class="com.sailendra.beanClasses.Person">
		<constructor-arg value="100" type="int"/>
		<constructor-arg value="Sailendra Narayan Jena" type="java.lang.String"/>
		<constructor-arg value="32" type="java.lang.String"/>
		<constructor-arg value="sailendra.n.jena@gmail.com" type="java.lang.String"/>
		<constructor-arg value="9731728407" type="long"/>
		<constructor-arg>
			<ref bean="personAdd"/>
		</constructor-arg>
	</bean>
	
	<bean id="address" class="com.sailendra.dependentBeanClasses.Address">
		<constructor-arg value="Rourkela" type="java.lang.String"/>
		<constructor-arg value="Odisha" type="java.lang.String"/>
		<constructor-arg value="India" type="java.lang.String"/>
	</bean>
	
	<bean id="employee" class="com.sailendra.dependentBeanClasses.Employee">
		<constructor-arg value="100" type="int"/>
		<constructor-arg value="Sailendra Narayan Jena" type="java.lang.String"/>
		<constructor-arg>
			<ref bean="address"/>
		</constructor-arg>
	</bean>
	
	<bean id="question" class="com.sailendra.beanClasseswithCollections.Question">
		<constructor-arg value="100" type="int"/>
		<constructor-arg value="What is Java?" type="java.lang.String"/>
		<constructor-arg>
			<list>
				<value>1. Java is a Programming Language</value>
				<value>2. Java is plattform indipendent</value>
				<value>3. Java is an island of Indonesia</value>
			</list>
		</constructor-arg>
	</bean>
	
<!-- <bean id="ans1" class="com.sailendra.beanClasseswithCollections.Answers">   -->
<!-- <constructor-arg value="1" type="int"></constructor-arg>   -->
<!-- <constructor-arg value="Java is a programming language" type="java.lang.String"></constructor-arg>   -->
<!-- <constructor-arg value="John" type="java.lang.String"></constructor-arg>   -->
<!-- </bean>   -->
  
<!-- <bean id="ans2" class="com.sailendra.beanClasseswithCollections.Answers">   -->
<!-- <constructor-arg value="2" type="int"></constructor-arg>   -->
<!-- <constructor-arg value="Java is a Platform" type="java.lang.String"></constructor-arg>   -->
<!-- <constructor-arg value="Ravi" type="java.lang.String"></constructor-arg>   -->
<!-- </bean>   -->
  
<!-- <bean id="q" class="com.sailendra.beanClasseswithCollections.Questions">   -->
<!-- <constructor-arg value="111" type="int"></constructor-arg>   -->
<!-- <constructor-arg value="What is java?" type="java.lang.String"></constructor-arg>   -->
<!-- <constructor-arg>   -->
<!-- <list>   -->
<!-- <ref bean="ans1"/>   -->
<!-- <ref bean="ans2"/>   -->
<!-- </list>   -->
<!-- </constructor-arg>   -->
<!-- </bean>   -->

	<bean id="ques" class="com.sailendra.beanClasseswithCollections.Question1">
		<constructor-arg value="11" type="int"/>
		<constructor-arg value="What is Java?" type="java.lang.String"/>
		<constructor-arg>
			<map>
				<entry key="Java is a Programming Language." value="Sailendra Narayan Jena"/>
				<entry key="Java is a PlattformIndependent Language..." value="Sailendra Narayan Jena"/>
				<entry key="Java is a island name place near to Indonesia" value="Sailendra Narayan Jena"/>
			</map>
		</constructor-arg>
	</bean>


	<bean id="answer1" class="com.sailendra.beanClasseswithCollections.Answer1">  
		<constructor-arg value="1" type="int"></constructor-arg>  
		<constructor-arg value="Java is a Programming Language" type="java.lang.String"></constructor-arg>  
		<constructor-arg value="12/12/2001" type="java.util.Date"></constructor-arg>  
	</bean>  
	<bean id="answer2" class="com.sailendra.beanClasseswithCollections.Answer1">  
		<constructor-arg value="2" type="int"></constructor-arg>  
		<constructor-arg value="Java is a Platform" type="java.lang.String"></constructor-arg>  
		<constructor-arg value="12/12/2003" type="java.util.Date"></constructor-arg>  
	</bean>  
	  
	<bean id="user1" class="com.sailendra.beanClasseswithCollections.User">  
		<constructor-arg value="1" type="int"></constructor-arg>  
		<constructor-arg value="Arun Kumar" type="java.lang.String"></constructor-arg>  
		<constructor-arg value="arun@gmail.com" type="java.lang.String"></constructor-arg>  
	</bean>  
	<bean id="user2" class="com.sailendra.beanClasseswithCollections.User">  
		<constructor-arg value="2" type="int"></constructor-arg>  
		<constructor-arg value="Varun Kumar" type="java.lang.String"></constructor-arg>  
		<constructor-arg value="Varun@gmail.com" type="java.lang.String"></constructor-arg>  
	</bean>  
	  
	<bean id="q" class="com.sailendra.beanClasseswithCollections.Question2">  
		<constructor-arg value="1"></constructor-arg>  
		<constructor-arg value="What is Java?"></constructor-arg>  
		<constructor-arg>  
			<map>  
				<entry key-ref="answer1" value-ref="user1"></entry>  
				<entry key-ref="answer2" value-ref="user2"></entry>  
			</map>  
		</constructor-arg>  
	</bean>  
	
	<bean id="empIn" class="com.sailendra.inheritingBeanClasses.Employee">
		<constructor-arg>
			<value>100</value>
		</constructor-arg>
		<constructor-arg>
			<value>Sailendra Narayan Jena</value>
		</constructor-arg>
	</bean>
	<bean id="addIn" class="com.sailendra.inheritingBeanClasses.Address">
		<constructor-arg>
			<value>Kalinga Vihar</value>
		</constructor-arg>
		<constructor-arg>
			<value>Rourkela</value>
		</constructor-arg>
		<constructor-arg>
			<value>Sundargarh</value>
		</constructor-arg>
		<constructor-arg>
			<value>Odisha</value>
		</constructor-arg>
		<constructor-arg>
			<value>India</value>
		</constructor-arg>
	</bean>
	<bean id="empIn1" class="com.sailendra.inheritingBeanClasses.Employee" parent="empIn">
		<constructor-arg>
			<ref bean="addIn"/>
		</constructor-arg>
	</bean>
</beans>