<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 <bean id="emp1" class="com.sailendra.beanClasses.Employee1">
 	<property name="id">
 		<value>100</value>
 	</property>
 	<property name="name">
 		<value>Sailendra Narayan Jena</value>
 	</property>
 	<property name="city">
 		<value>Rourkela</value>
 	</property>
 </bean>
</beans>